<div class="loginContainer">
  <h1>Login</h1>

  <% if flash[:error].present? %>
    <p><%= flash[:error] %></p>
  <% end %>

  <%= form_tag login_path do %>

    <!-- User text_field when updating an object, otherwise text_field_tag -->
    <%= label_tag :email %>
    <%= text_field_tag :email %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag "Login" %>

  <% end %>
</div>
