<h1>Sign Up!</h1>

<!-- Display any errors with creating an account here -->
<% if @user.errors.any? %>
  <b>Errors:</b>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @user do |f| %>
  <fieldset>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </fieldset>
  <fieldset>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </fieldset>
  <fieldset>
    <%= f.label :description, "Give a brief description about yourself, that the people who walk your dogs will see or the dogs that you walk's owners will see." %><br>
    <%= f.text_field :description %>
  </fieldset>
  <fieldset>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </fieldset>
  <fieldset>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </fieldset>

  <%= f.submit "Sign Up!" %>
<% end %>
