<h1>Ubog</h1>

<div class="container">
  <% if @current_user.present? %>
    <div class="bookingCreate">
      <h3>Find a Dog Walker!</h3>
      <input type="text" id="bookingAddress" placeholder="Address. Leave blank for home address."/>
      <button class="bookButton">Book Dog Walk!</button>
      <div id="bookingSuccess"></div>
    </div>

    <div class="tripCreate">
      <h3>Walk Some Dogs!</h3>
      <input type="text" id="tripAddress" placeholder="Starting address. Leave blank for home address."/>
      <button class="tripButton">Find Dogs To Walk!</button>
      <div id="tripSuccess"></div>
    </div>
  <% end %>
</div>


<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBknCH8ac7AiYxL-9HQkKTT8KGKGydC7LU&libraries=places&callback=initMap" async defer></script>

<script>
  // CODE FOR MAP:
  var addr;
  var initMap = function() {
    addr = {
      lat: -33.8688,
      lng: 151.2093
    };

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map($("#map")[0], {
      center: addr,
      zoom: 15
    });


    <% if @current_user.present? %>
      addr.lat = <%= @current_user.latitude %>;
      addr.lng = <%= @current_user.longtitude %>;
      map.setCenter(addr);

      var homeMarker = new google.maps.Marker({
        position: addr,
        map: map,
        title: 'Home'
      });



      // CODE FOR AUTOCOMPLETE:
      var addressObj = {
        lat: 0,
        lng: 0,
        address: ''
      };

      // Autocomplete box
      var defaultBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(-35, 150),
        new google.maps.LatLng(-33, 152)
      );

      var $bookingInput = $("#bookingAddress");
      var $tripInput = $("#tripAddress");

      var options = {
        bounds: defaultBounds,
        types: ['address']
      };

      var bookingAutocomplete = new google.maps.places.Autocomplete($bookingInput[0], options);
      var tripAutocomplete = new google.maps.places.Autocomplete($tripInput[0], options);



      bookingAutocomplete.addListener('place_changed', function() {
        googObj = bookingAutocomplete.getPlace();
        addressObj.address = googObj.formatted_address;
        addressObj.lat = googObj.geometry.location.lat();
        addressObj.lng = googObj.geometry.location.lng();
      });

      tripAutocomplete.addListener('place_changed', function() {
        googObj = tripAutocomplete.getPlace();
        addressObj.address = googObj.formatted_address;
        addressObj.lat = googObj.geometry.location.lat();
        addressObj.lng = googObj.geometry.location.lng();
        console.log(addressObj);
      });



      // CODE FOR ADDING A BOOKING.
      $('.bookButton').click(function(e) {
        e.preventDefault();

        $('.tripCreate').css('display', 'none');

        if (addressObj.address === '') {
          addressObj.lat = <%= @current_user.latitude %>;
          addressObj.lng = <%= @current_user.longtitude %>;
          addressObj.address = "<%= @current_user.address %>";
        }


        $.ajax({
          url: '/bookings',
          method: 'POST',
          data: { booking: {
            address: addressObj.address,
            latitude: addressObj.lat,
            longtitude: addressObj.lng
          }},
          success: function() {
            $("#bookingSuccess").html("<p>Booking successfully made. Finding dog walker...</p>");
            console.log("Booking created!");
          },
          error: function( e ){
            debugger
          }
        });
      });




      // CODE FOR ADDING A TRIP AND FINDING BOOKINGS.
      $('.tripButton').click(function(e) {
        e.preventDefault();

        $('.bookingCreate').css('display', 'none');

        if (addressObj.address === '') {
          addressObj.lat = <%= @current_user.latitude %>;
          addressObj.lng = <%= @current_user.longtitude %>;
          addressObj.address = "<%= @current_user.address %>";
        }

        $.ajax({
          url: '/trips',
          method: 'POST',
          dataType: 'json',
          data: { trip: {
            address: addressObj.address,
            latitude: addressObj.lat,
            longtitude: addressObj.lng
          }},
          // The AJAX request will return a list of all the bookings
          success: function(r) {
            var bookings = r.bookings;
            console.log(bookings);
          },
          error: function(e) {
            debugger
          }
        });

      });
   <% end %>
  }



</script>
